.login-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.login-text {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 100px;
    background-color: var(--color3);
}

.login-text h1 {
    font-size: 50px;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    flex:2;
    justify-content: center;
    padding: 40px;
}

.login-form button {
    max-width: 300px;
    margin: 20px;
}