button {
    border: none;
    border-radius: 30px;
    padding: 9px 15px;
    background-color: var(--color2);
    color: var(--color1);
    cursor: pointer;
    border: 3px solid var(--color3);
}

button + button {
    margin-left: 10px;
}