.button {
    border-radius: 30px;
    padding: 9px 15px;
    background-color: var(--color2);
    color: var(--color1);
    cursor: pointer;
    border: 3px solid var(--color3);
    line-height: 1.2;
    white-space: nowrap;
    font-family: "Funnel Display", sans-serif;
    font-size: 16px;
}

.button + .button {
    margin-left: 10px;
}

