.movie-details-tile {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 120px;
    border-top-left-radius: 150px;
    border-top-right-radius: 80px;
    border: solid #12130F;
}

.movie-details-tile img {
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 120px;
    border-top-left-radius: 150px;
    border-top-right-radius: 80px;
    align-self: center;
}

.movie-detail-numbers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.movie-details-genre-language {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.movie-details-tile p {
    margin: 5px;
}