.container {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: stretch;
}

.container h1 {
    font-size: 50px;
}

.left {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 100px;
    background-color: var(--color3);
}

.right {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 40px;
}

.right button {
    max-width: 300px;
    margin: 20px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .container h1 {
        font-size: 30px;
    }

    .left {
        padding: 40px;
    }
}