.page-title {
    font-family: "Funnel Display", serif;
    text-align: center;
    padding: 20px;
    font-size: 100px;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title-container img {
    max-height: 300px;
    max-width: 100px;
}