.nav-container {
    display: flex;
    background-color: var(--color2);
    color: var(--color1);
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 60px;
}

ul {
    list-style-type: none;
    flex-basis: 2000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li, h4 {
    font-family: "Funnel Display", serif;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
}

a, a:visited {
    color: var(--color1);
    text-decoration: none;
}

.active-menu-link {
    border-bottom: 1px solid ;

}

.default-menu-link {
    border-bottom: 1px solid transparent;
}