.nav-container {
    display: flex;
    background-color: var(--color1);
    color: var(--color2);
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    margin: 0 auto;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 60px;
}

ul {
    list-style-type: none;
    flex-basis: 2000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}