.movie-list {
    display: flex;
    flex-direction: row;
    margin: 8px;
    padding: 12px;
    flex-wrap: wrap;
    align-items: stretch;
}

.movie-list li {

}

.movie-list img {
    border-radius: 250px;
    max-width: 400px;
    height: auto;
}

.genre-labels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.genre-label {
    border: solid 3px var(--color3);
    border-radius: 20px;
    padding: 10px;
    margin: 8px;
    cursor: pointer;
    background-color: var(--color3);
}

.page-navigation-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.page.navigation.button {

}

article {
    display: flex;
}