form input {
    width: 80%;
    max-width: 350px;
    padding: 5px 10px;
    margin: 15px 0;
    border: solid 2px var(--color3);
    border-radius: 6px;
    background-color: var(--color2);
    color: var(--color1);
}