.page-title {
    font-family: "Funnel Display", serif;
    text-align: center;
    padding: 20px;
    font-size: 100px;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title-container img {
    max-height: 10rem;
}

@media (max-width: 768px) {
    .page-title {
        font-size: 50px;
    }

    .title-container img {
        max-height: 6rem;
    }
}