.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 20px 40px;
}

    .attribution {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .attribution img {
        width: 70px;
    }

    .attribution p {
        max-width: 260px;
        font-size: 0.75rem;
    }