* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
}

.page-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 600px;
}

h1, h2 {
  font-family: "Funnel Display", serif;
}







