:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color1);
  background-color: var(--color2);

  --color1: #12130F;
  --color2: #F4F4F4;
  --color3: #9D8DF1;
  --color4: #D5A021;
  --color5: #816F68;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}








